{% extends 'base.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block title %}
<title>ContactMe</title>

{% endblock title %}

{% block body %}

<div class="container">
    <div class="conatiner bg-secondary p-2 text-center text-light rounded-3 shadow mb-4">
        <h1 class="display-5 ">Contact Details </h1>
    </div>

    <!-- form div  -->
    <div class="container">
        <form action="{% url 'contact'%}", method="post">
            {% csrf_token %}
   

            <div class="mb-3">
                <label for="name" class="text-primary">Enter Your Name </label>
                <input type="text" name="name" class="form-control">
            </div>

            <div class="mb-3">
                <label for="email" class="text-primary">Enter Your Email </label>
                <input type="text" name="name" class="form-control">
            </div>

            <div class="mb-3">
                <label for="" class="text-primary">Purpose</label>
                <textarea name="purpose" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <!-- button  -->
            <div class="md-3">
                <input type="submit"  class="btn btn-success " value="contact">

            </div>
            

        </form>
    </div>
</div>

{% endblock body %}