{% extends 'base.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block title %}

{% endblock title %}

{% block body %}


<!-- {% for key,value in proj.items %}
{{key}} {{value}}

{% endfor %} -->
<div class="conatiner bg-secondary p-2 text-center text-light rounded-3 shadow mb-4">
  <h1 class="display-5 ">Projects  Details </h1>
</div>
{% for key,value in proj.items %}
  <div class="card mb-3" style="width: 100%;">
    
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static 'images/hospital.jpg' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{key}}</h5>
          <p class="card-text">{{value}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div><hr>
      </div>
    </div>
    
  </div>
  {% endfor %}

 






{% endblock body %}